<!DOCTYPE html>
<html>
<head>
	<title>Data Download</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container text-center mt-5">
		<h3>Data Download</h3>
	</div>
	<form>
		<div class="container mt-5 mb-5" style="border:2px solid #ccc; width:300px; height: 200px; overflow-y: scroll;">
	    <input type="checkbox" /> 2021-02-03-0001.csv <br>
	    <input type="checkbox" /> 2021-02-03-0002.csv <br />
	    <input type="checkbox" /> 2021-02-03-0003.csv <br />
	    <input type="checkbox" /> 2021-02-03-0004.csv <br />
	    <input type="checkbox" /> 2021-02-03-0005.csv <br />
	    <input type="checkbox" /> 2021-02-03-0006.csv <br />
	    <input type="checkbox" /> 2021-02-03-0007.csv <br />
	    <input type="checkbox" /> 2021-02-03-0008.csv <br />
	    <input type="checkbox" /> 2021-02-03-0009.csv <br />
	    <input type="checkbox" /> 2021-02-03-0010.csv <br />
	</div>
	
	<div class="container text-center">
		<div id="load" class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div><br>
		<button type="submit" class="btn btn-outline-secondary mt-3">Start Download</button>
	</div>
	
	</form>
</body>
</html>