<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/index.css">
</head>

<body style="background: transparent;">
	<div class="container-fluid bg-light" style="border-radius: 5%;">
		<div class="row">
			<div class="col-3" style="height: 100vh; background: #8DA1AF">
				<div class="list-group">
					<button id="device" class="list-group-item btn btn-outline-dark mt-5"><span
							class="fa fa-desktop"></span> Device</button>
					<button id="download" class="list-group-item btn btn-outline-dark mt-2"><span
							class="fa fa-download"></span> Download</button>
					<button id="map" class="list-group-item btn btn-outline-dark mt-2"><span
							class="fa fa-map-marker"></span> Map Tracker</button>
					<button id="setup" class="list-group-item btn btn-outline-dark mt-2"><span
							class="fa fa-signal"></span> Network RTK</button>
					<button id="settings" class="list-group-item btn btn-outline-dark mt-2"><span
							class="fa fa-cogs"></span> Settings</button>
					<button id="devtools" class="list-group-item btn btn-outline-dark mt-2"><span
							class="fa fa-code"></span> Dev Tools</button>
				</div>
			</div>

			<div class="col-9 mt-3 pt-2">

				<div class="row" id="div_comm_type">
					<div class="col-2">
						Connection Type
					</div>
					<div class="col-2">
						<select id="comm_type" class="form-control" onchange="connChange()">
							<option value="0"> -- None -- </option>
							<option value="1">Wireless</option>
							<option value="2">Wired</option>
						</select>
					</div>

					<div class="col" id="wifi1">

					</div>
					<div class="col-2">
						<div class="custom-control custom-switch custom-switch-lg pt-2">
							<input type="checkbox" class="custom-control-input" id="coordinateMode">
							<label class="custom-control-label" for="coordinateMode">Degree</label>
						</div>
					</div>
					<div class="col-2">
						<div class="custom-control custom-switch custom-switch-lg pt-2">
							<input type="checkbox" class="custom-control-input" id="logMode">
							<label class="custom-control-label" for="logMode">Live Log</label>
						</div>
					</div>
				</div>

				<div class="row pt-1" id="Connect">

				</div>

				<div class="dropdown-divider mt-1 mb-1"></div>
				<div class="row">
					<div class="col-8">
						<div class="row">
							<div class="col-6">
								<small id="dateHelpBlock" class="form-text text-muted">Date</small>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><span class="fa fa-calendar"></span></div>
									</div>
									<input type="text" class="form-control" id="date" placeholder="Date"
										aria-describedby="dateHelpBlock" disabled>
								</div>
							</div>
							<div class="col-6">
								<small id="timeHelpBlock" class="form-text text-muted">Time</small>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><span class="fa fa-clock-o"></span></div>
									</div>
									<input type="text" class="form-control" id="time" placeholder="Time"
										aria-describedby="timeHelpBlock" disabled>
								</div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-6">
								<small id="latitudeHelpBlock" class="form-text text-muted">Latitude</small>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><span class="fa fa-arrow-up"></span></div>
									</div>
									<input type="text" class="form-control" id="latitude" placeholder="Latitude"
										aria-describedby="latitudeHelpBlock" disabled>
								</div>
							</div>
							<div class="col-6">
								<small id="longitudeHelpBlock" class="form-text text-muted">Longitude</small>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><span class="fa fa-arrow-right"></span></div>
									</div>
									<input type="text" class="form-control" id="longitude" placeholder="Longitude"
										aria-describedby="longitudeHelpBlock" disabled>
								</div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-6">
								<small id="hdopHelpBlock" class="form-text text-muted">HDOP</small>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><small>*</small></div>
									</div>
									<input type="text" class="form-control" id="hdop" placeholder="HDOP"
										aria-describedby="hdopHelpBlock" disabled>
								</div>
							</div>
							<div class="col-6">
								<small id="speedHelpBlock" class="form-text text-muted">Speed</small>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><span class="fa fa-spinner"></span></div>
									</div>
									<input type="text" class="form-control" id="speed" placeholder="Speed"
										aria-describedby="speedHelpBlock" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="row">
							<div class="col-4">
								<span class="fa fa-laptop fa-4x"></span>
							</div>
							<div class="col-12">
								<small class="text-muted">RTK</small>
								<p class="text-muted">Rover SN: 12345</p>
							</div>
						</div>
						<div class="row">

						</div>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-4">
						<small id="rtkStatusHelpBlock" class="form-text text-muted">RTK Status</small>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">@</div>
							</div>
							<input type="text" class="form-control" id="rtkStatus" placeholder="RTK Status"
								aria-describedby="rtkStatusHelpBlock" disabled>
						</div>
					</div>
					<div class="col-4">
						<small id="rtkAgeHelpBlock" class="form-text text-muted">RTK Age</small>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">#</div>
							</div>
							<input type="text" class="form-control" id="rtkAge" placeholder="RTK Age"
								aria-describedby="rtkAgeHelpBlock" disabled>
						</div>
					</div>
					<div class="col-4">
						<small id="rtkRatioHelpBlock" class="form-text text-muted">RTK Ratio</small>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">:</div>
							</div>
							<input type="text" class="form-control" id="rtkRatio" placeholder="RTK Ratio"
								aria-describedby="rtkRatioHelpBlock" disabled>
						</div>
					</div>
				</div>

				<div class="dropdown-divider mt-3 mb-3"></div>

				<div class="row">
					<div class="col">
						<h5>Live Data Feed</h5>
						<div class="list-group" id="feeds" style="height: 180px; overflow-y: scroll;">
							<ul>
								<!-- Connect to Serial Port to view Live Feeds... -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const { ipcRenderer } = require('electron');
		var formatcoords = require('formatcoords');
		var status_wifi = false;
		var status_serial = false;
		var cmode = false;

		// window.onload = (event) => {
		// 	console.log('page is fully loaded');
		// 	var hotspot_credentials = {ssid:'$EZ_RTK',password:'1234567890'};
		// 	ipcRenderer.send('read:credentials', hotspot_credentials);
		// };

		//Menu selectors
		document.querySelector('#device').addEventListener('click', (event) => {
			ipcRenderer.send('open:device');
		});
		document.querySelector('#download').addEventListener('click', (event) => {
			ipcRenderer.send('open:download');
		});
		document.querySelector('#map').addEventListener('click', (event) => {
			ipcRenderer.send('open:map');
		});
		document.querySelector('#settings').addEventListener('click', (event) => {
			ipcRenderer.send('open:settings');
		});
		document.querySelector('#devtools').addEventListener('click', (event) => {
			ipcRenderer.send('open:devtools');
		});
		//Live Logging
		var logSwitch = document.querySelector('#logMode');
		logSwitch.addEventListener('change', (event) => {
			if (logSwitch.checked) {
				ipcRenderer.send('uart:status', (event, 'main'));
			} else {
				ipcRenderer.send('feed:log',(event, false));
			}
		});
		ipcRenderer.on('uart:status', (event, permission) => {
			if (permission) {
				ipcRenderer.send('feed:log',(event, logSwitch.value));
			} else {
				logSwitch.checked = permission;
			}
		});
		//Device setup
		document.querySelector('#setup').addEventListener('click', (event) => {
			ipcRenderer.send('device:setup');
		});
		// Status of Wi-Fi Connection: true or false
		ipcRenderer.on('status:wifi', (event, status) => {
			if (status == true) {
				status_wifi = true;
				document.getElementById('connect_wifi').innerHTML = "Disconnect";
				document.getElementById('setup').classList.remove('disabled');
				document.getElementById('download').classList.remove('disabled');
			}
			else {
				status_wifi = false;
			}
		});
		// Status of Serial Connection: true or false
		ipcRenderer.on('status:serial', (event, status) => {
			if (status == true) {
				status_serial = true;
				document.getElementById('connect_serial').innerHTML = "Disconnect";
				document.getElementById('setup').classList.add('disabled');
				document.getElementById('download').classList.add('disabled');
			}
			else {
				status_serial = false;
			}
		});
		const ul = document.querySelector('ul');
		const feeds = document.getElementById('feeds');
		// receiving and parsing nmea file
		ipcRenderer.on('parse:nmea', (event, sentence) => {
			//console.log(sentence.nmea);
			if(cmode) {
				var coords = formatcoords(27.725499,-18.024301);
				var c = coords.format('-dd mm ss X', {latLonSeparator: ', ', decimalPlaces: 3}).split(',');
				document.querySelector('#latitude').value = c[0];
				document.querySelector('#longitude').value = c[1];
			} else {
				document.querySelector('#latitude').value = sentence.lat;
				document.querySelector('#longitude').value = sentence.lon;
			}
			document.querySelector('#speed').value = sentence.speed;
			document.querySelector('#hdop').value = sentence.hdop;
			document.querySelector('#rtkStatus').value = sentence.fix;
			const li = document.createElement('li');
			const text = document.createTextNode(sentence.nmea);
			li.appendChild(text);
			ul.appendChild(li);
			ul.scrollIntoView({ behavior: "smooth", block: "end" });
			try {
				var t = sentence.time.toString().split(" ");
				//console.log(t);
				var time = t[4] + ' ' + t[5];
				var date = t[2] + '-' + t[1] + '-' + t[3];
				document.querySelector('#time').value = time;
				document.querySelector('#date').value = date;
			} catch (e) { }
		});

		const coordinateMode = document.querySelector('#coordinateMode');	
		coordinateMode.addEventListener('change', (event) => {
			if(coordinateMode.checked)
				cmode = true;
			else
				cmode = false;
		});
		// sending selected port and baudRate
		function connectSerial() {
			if (status_serial == true) {
				ipcRenderer.send('disconnect');
				status_serial = false;
				console.log('dis');
				document.getElementById('connect_serial').innerHTML = 'Connect <i class="fa fa-plug"></i>';
				document.getElementById('setup').classList.remove('disabled');
				document.getElementById('download').classList.remove('disabled');
			}

			else {
				var p = document.querySelector('#serial_port').value;
				var baudRate = document.querySelector('#baudRate').value;
				var serial_details = [];

				serial_details.push(p);
				serial_details.push(baudRate);

				if (!p)
					return false;
				ipcRenderer.send('connect_serial', (event, serial_details));

				// removing the last selected serial port and baudRate
				serial_details.pop();
				serial_details.pop();

				document.getElementById('wifi1').innerHTML = '<button type="button" onclick="serialPassthrough()" class="btn btn-outline-secondary">Serial Passthrough  <i class="fa fa-angle-double-right"></i></button>';
			}
		}
		// sending selected wifi
		function connectWifi() {
			if (status_wifi == true) {
				ipcRenderer.send('disconnect');
				status_wifi = false;
				console.log('dis');
				document.getElementById('connect_wifi').innerHTML = 'Connect <i class="fa fa-plug"></i>';
			}

			else {
				var wifi = "EZ_RTK_ROVER";
				// var wifi = "EZRTK_BASE";
				var password = "1234567890";

				console.log(wifi + " " + password);
				var wifi_details = [];

				wifi_details.push(wifi);
				wifi_details.push(password);
				if (!wifi_details)
					return false;
				ipcRenderer.send('connect_wifi', (event, wifi_details));

				wifi_details.pop();
				wifi_details.pop();
			}
		}

		ipcRenderer.on('load:device', (event, ports) => {
			let port_menu = document.querySelector('#serial_port');
			port_menu.innerHTML = "";

			if (ports.length == 0) {
				const op = document.createElement('option');
				op.innerHTML = "COM unavailable";
				port_menu.appendChild(op);
			}

			else {
				for (var i = 0; i < ports.length; i++) {
					const op = document.createElement('option');
					op.innerHTML = ports[i];
					op.value = ports[i];
					port_menu.appendChild(op);
				}
			}
		});
		// ipcRenderer.on('load:wifi', (event, wifi) => {
		// 	let wifi_menu = document.querySelector('#wifi');
		// 	wifi_menu.innerHTML = "<p></p>";
		// 	for (var i=0;i<wifi.length;i++) {
		// 		const op = document.createElement('option');
		// 		op.innerHTML = wifi[i];
		// 		op.value = wifi[i];
		// 		wifi_menu.appendChild(op);	
		// 	}
		// });
		function serialPassthrough() {
			ipcRenderer.send('make:command', '$EZ_RTK,GNSS-VIEWER,RTKCOMMAND');
		}
		// var wifi = '<div class="col-4">'+
		// 				'<select id="wifi" class="form-control">' +

		// 				'</select>'+
		// 			'</div>'+
		// 			'<div class="col-4">'+
		// 				'<input id="password" type="password" value="bedrock@8540" class="form-control" placeholder="Password">'+
		// 			'</div>'+
		// 			'<div class="col-4">'+
		// 				'<button type="button" onclick="connectWifi()" class="btn btn-outline-secondary">Connect <i class="fa fa-plug"></i></button>'+
		// 			'</div>';
		var wifi = '<button type="button" onclick="connectWifi()" id="connect_wifi" class="btn btn-outline-secondary">Connect <i class="fa fa-plug"></i></button>';
		var serial = '<div class="col-4"><select id="serial_port" class="form-control"></select></div>' +
			'<div class="col-4"><select id="baudRate" class="form-control">' +
			'<option>4800</option><option>9600</option><option>115200</option></select>' +
			'</div>' +
			'<div class="col-4"><button type="button" id="connect_serial" onclick="connectSerial()" class="btn btn-outline-secondary">Connect <i class="fa fa-plug"></i></button></div>';

		function connChange() {
			var conType = document.getElementById('comm_type').value;

			console.log(conType);
			if (conType == 0) {
				document.getElementById('Connect').innerHTML = "";
				document.getElementById('wifi1').innerHTML = "";
				ipcRenderer.send('conn:close');
				status_wifi = false;
				status_serial = false;
			}
			else if (conType == 1) {
				document.getElementById('wifi1').innerHTML = wifi;
				if (status_wifi == true) {
					document.getElementById('connect_wifi').innerHTML = 'Disconnect';
				}
				document.getElementById('Connect').innerHTML = "";
				ipcRenderer.send('load:wifi');
			}
			else {
				document.getElementById('Connect').innerHTML = serial;
				if (status_serial == true) {
					document.getElementById('connect_serial').innerHTML = 'Disconnect';
				}
				document.getElementById('wifi1').innerHTML = "";
				ipcRenderer.send('load:device');
			}
		}

	</script>

</body>