<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link rel="stylesheet" type="text/css" href="./css/template.css" />
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./css/demo.css">
    <script type="text/javascript" src='./js/test-credentials.js'></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
  </head>
  <body>
  
    <div class="container-fluid">
		<div class="row text-center mt-3">
			<div class="col-12 col-sm-3">
				<h4 class="">
					Map Tracker
				</h4>
			</div>
			<div class="col-12 col-sm-3 custom-file">
				<button class="btn btn-secondary" id="choose">choose file</button>
			</div>
			<div class="col-12 col-sm-3">
				<div class="custom-control custom-switch custom-switch-lg pt-2">
					<input type="checkbox" class="custom-control-input" id="viewMode">
					<label class="custom-control-label" for="viewMode">Live View</label>
		        </div>
			</div>
			<div class="col-12 col-sm-3">
				<button class="btn">
					<span class="fa fa-globe text-primary"></span> Change view
				</button>
			</div>
		</div>

        <div class="dropdown-divider"></div>

		<div class="row pt-3 pb-3" id="coordinates">
			
		</div>

		<div class="row">
			<div class="col">
				<div id="map" class="bg-light">
					
				</div>
			</div>

		</div>
    </div>
	<script>
		const fs = require('fs');
		const { ipcRenderer } = require('electron');
		
		var path = "";
		
		var coordinates = '<div class="col"><input type="text" class="form-control" placeholder="Latitude" id="lat" disabled></div>'+
						'<div class="col"><input type="text" class="form-control" placeholder="Longitude" id="lon" disabled></div>'+
						'<div class="col"><input type="text" class="form-control" placeholder="Altitude" id="alt" disabled></div>'+
						'<div class="col"><input type="text" class="form-control" placeholder="RTK Status" id="rtk" disabled></div>';
		
		var mode = document.querySelector('#viewMode');
		mode.addEventListener('change', (event) => {
			if (mode.checked) {
				ipcRenderer.send('uart:status');
				
			} else {
				document.querySelector('#coordinates').innerHTML = "";
			}
		});
		
		document.querySelector('#choose').addEventListener('click', (event) => {
			ipcRenderer.send('show:browse');
		});
		
		function showBrowse() {
			ipcRenderer.send('show:browse');
		}
		
		ipcRenderer.on('read:file', (event, data) => {
			var con = data.split("&");
			initMap(JSON.parse(con[0]).Latitude, JSON.parse(con[0]).Longitude);
			for (var i = 0; i < con.length; i++){
				var c = JSON.parse(con[i]);
				var lat = c.Latitude;
				var lon = c.Longitude;
				var alt = c.Altitude;
				var html = `<small class="text-muted">Lat: ${lat}<br>Lng: ${lon}<br>Alt: ${alt}</small>`;
				useMap(lat, lon, html);
			}
		});
		ipcRenderer.on('uart:status', (event, permission) => {
			if (permission) {
				document.querySelector('#coordinates').innerHTML = coordinates;
			} else {
				mode.checked = permission;
				document.querySelector('#coordinates').innerHTML = "";
			}
		});
		
		
		function useMap(lat, lon, html) {
			addMarkerToGroup(lat, lon, html);
		}
		
		if(path)
			useMap();
	</script>
    <script type="text/javascript" src='./js/demo.js'></script>
  </body>
</html>